{% extends 'blog/base.html' %}
{% block content %}

	<div class="post">
		{% if post.published_date %}
			<div>
			
				<h1>{{ post.name }}</h1>
				<p>Born on {{ post.date_of_birth }}</p>
				{% if post.deceased_date is not None %}
					<p>Died on {{ post.deceased_date }}</p>
				{% else %}
					<p>Still with us today</p>
				{% endif %}
			</div>
			<p>{{ post.text|linebreaksbr }}</p>

			<!-- <img src="{{ post.picture }}"> -->
			<div>
				<img src="{{ post.picture.url }}"height=400>
			</div>

		{% endif %}

		{% if user.is_authenticated %}
		<div>
			<a href="{% url 'post_edit' pk=post.pk %}"><i class="far fa-edit fa-2x" style="color: #339af0"></i></a>
		</div>
		{% endif %}
		
	</div>

{% endblock %}

<div class="post">
			<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.name }}</a></h1>
			<div>
				<p>{{ post.name }}</p>
				<p>Born on {{ post.date_of_birth }}</p>
				{% if post.deceased_date is not None %}
					<p>Died on {{ post.deceased_date }}</p>
				{% else %}
					<p>Still with us today</p>
				{% endif %}
			</div>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>